#index {
    width: 215px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

#index ul {
    list-style: none;
}

#exhibit {
    margin-left: 215px;
}

a {
    color: black;
}

a:hover {
    color: white;
    background-color: #8cff00;
    text-decoration: none;
}

.container {
    padding: 27px 9px 25px 27px;
}

.container ul {
    margin-left: 0;
}

body.pg-contact {
    background-image: url('/img/bg-image.jpg');
    background-position-x: 215px;
}