<div id="index">
    <div class="container">

        <div class="top"></div>
        <ul class="section active_section" id="section_1">
            <li><a href="/">olivia taussig</a></li>
            <li><a href="/moving/">moving</a></li>
            <li><a href="/still/">still</a></li>
            <li><a href="/yahoo-news-drawings/">yahoo! news drawings</a></li>
            <li id="section_title_4">o.t.</li>
            <li><a href="/contact/">contact</a></li>
        </ul>

        <div class="bot"></div>


    </div>
</div>
